<html>
<head>
    <title>Ошибка 404 – страница не найдена</title>
    <h1>Ошибка 404</h1>
</head>
<p>
<!--<img src=” 404.gif” alt=”Ошибка 404″>-->
<p>К сожалению, <?php echo $error ?>.</p>

<!--<p>Почему?</p>
<ul>
    <li> страница, на которую вы хотели зайти, была удалена;. </li>
    <li> адрес (URL) страницы был изменен; </li>
    <li> адрес (URL) страницы был изменен; </li>
</ul>-->
<p>Для продолжения работы с сайтом Вы можете перейти на

<a href='../index.php'>Главную страницу.</a></p>
</body>
</html>